body {
  background: #f5f5f5;
}

.registration-container {
  width: 100%;
  min-height: 700px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
	margin-bottom:80px;
}

.registration-box {
  width: 50%;
  height: auto;
}

.reg-type {
  width: 100%;
  height: 100px;
  display: inline-flex;
  align-items: flex-end;
}

.bigger-box {
  width: 60%;
  background: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smaller-box {
  width: 40%;
  background: grey;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  cursor: pointer;
}


.reg-fields-s {
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  position: relative;
}

.reg-fields-l {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  width: 100%;
  background: #f5f5f5;
}

.just-holder {
  margin: 50px 0 80px 0;
  width: auto;
  height: auto
}

.name {
  display: inline-flex;
}
.name div {

}

.name input {
  width: 100px;
}

.email input {
  width: 220px;
}

.password input {
  width: 220px;
}

#login_button {
    background: #F07200;
    border: 0;
    color: white;
    width: 80px;
    height: 30px;
    margin-top: 10px;
}

.option input {
    widows: 220px;
    margin-bottom: 10px;
    height: 25px;
    display: inline-flex;
    border-radius: 2px;
}

.option h4 {
    font-size: 13px;
    margin-bottom: 0px;
}

.submit-registration {
  background: green;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 5%;
  right: 5%;
}



footer {
  height: 50px;
}
.footer-container-three {
  height: 100%;
}
